* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* includes padding & border in size calculation */
}

body {
    background-color: #e6e6e6;
    font-family: "Comfortaa", cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #404040;
}

h1 {
    color: #069874;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.8;
}

h2 {
    color: #069874;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
}

h2.margined {
    margin: 40px 0 5px;
}


h3 {
    color: #069874;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}

a {
    color: #357b70;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

a:visited,
a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    color: #489c79;
}

div {
    padding: 0 20px;
}

div.vpad20 {
    max-width: 960px;
    width: 100%;
    clear: both;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.example {
    align-content: center;
    text-align: center;
}

img {
    max-width: 100%;
}

.img45 {
    display: block;
    clear: both;
    width: 45%;
    margin: 0 auto;
    padding: 5vh 0vh;
}

.img60 {
    display: block;
    clear: both;
    width: 60%;
    margin: 0 auto;
    padding: 5vh 0vh;
}

.img50vh {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 5vh 0vh;
}

p {
    font-family: Lato;
}

p.sub-center {
    display: block;
    clear: both;
    margin: 0 auto;
    max-width: 50%;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

p.pad20 {
    padding: 20px 0;
}


sup {
    width: 100%;
    margin: 0 auto;
    align-content: center;
    vertical-align: super;
    font-size: 10px;
    font-family: lato;
    color: #a4a4a4;
    font-style: italic;
    text-align: center;
}

img.example {
    padding: 0 0 10px 0;
    max-width: 960px;
    width: 100%;
}

ul.clients {
    list-style-type: none;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

li {
    line-height: 25px;
}

button {
    border: none;
    font-family: inherit;
    background-color: #23a692;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.8;
}

#container {
    display: block;
    margin: 0 auto;
    clear: both;
    width: 100%;
}

.button {
    border: none;
    font-family: inherit;
    background-color: #23a692;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: #14894a;
    color: #f1f1f1;
}

.logo {
    width: 200px;
    height: 70px;
    padding: 5px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
}

.navigation-list li {
    display: inline-block;
    margin: 0 7px;
}

.sub_menu {
    display: block;
    clear: both;
    margin: 0 auto;
    text-align: center;
}

.navigation-list__item--active {
    text-decoration: none;
}

a.deco_none {
    text-decoration: none;
}

.body_main {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

.body-mainMax {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}

.padding10 {
    padding: 10vh 0;
}

.workpadding {
    padding: 30px 0 70px;
}

.but_spacer {
    padding: 20px;
}

.profile__portrait {
    display: block;
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.logos {
    display: block;
}

.vspacers {
    vertical-align: top;
    margin: 10px 0;
}

.center {
    display: block;
    margin: 0 auto;
    clear: both;
}

.center_mw {
    width: 100%;
    display: inline-flex;
    margin: 0 auto;
    clear: both;
}

.center_logo,
.center_list {
    margin: 0 auto;
    padding: 0;
    display: block;
}

label {
    display: block;
}

textarea {
    overflow-y: scroll;
    height: 100px;
}

.london {
    width: 50%;
    height: auto;
}

img .pSnapshot {
    display: block;
    width: 100%;
    max-width: 150px;
}

.title {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Grid fallback */

.grid__item {
    display: inline-block;
    width: 33%;
}

/* Grid layout for newer browsers */

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid25 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid20 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
}

.grid33 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid50 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid75_left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
}


.grid__item {
    background-color: #c6d1cf;
    padding: 10px;

    /* Width to auto allows fallback to work without breaking the layout */
    width: auto;
}

.grid__item:last-child {
    -ms-grid-column: 4;
    grid-column: 4 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
}

.page-footer {
    bottom: 0%;
    width: 100%;
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.credit {
    font-size: 8px;
    text-align: center;
    width: 20%;
}

.credit a {
    text-decoration: none;
    color: #2b2b2b;
}

.social-ico {
    margin: 0 10px 20px;
}

.name-link {
    text-decoration: none;
}

.client-logo {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.client-logo_sub {
    display: block;
    width: 80px;
    height: auto;
    margin: 0 auto;
}

.client-logo_sm {
    display: block;
    width: 50px;
    height: auto;
    margin: 0 auto;
}

.works a {
    transition: transform 0.2s;
    cursor: pointer;
}

.works a:hover {
    transform: scale(1.2);
}

.other-works li {
    font-size: 14px;
}

table {
    width: 100%;
}

p.noPadTop {
    padding-top: 0;
    margin-block-start: 0;
    font-size: small;
}

p.noPadBot {
    padding-top: 0;
    font-weight: 600;
    margin-block-end: 0;
}

.bgimage {
    background-image: url("../img/twitchpage.jpg");
    background-color: #1c243b;
    height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
}

.twitchAlt {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: #00ffaf;
}

.whitebg {
    background: linear-gradient(to right, #f1f1f1, transparent 100%);
    /*    background-color: #FFFFFF;*/
    border-radius: 15px;
    padding: 20px 20px 10px;
    margin: 50px auto 40px;
    width: 75%;
}

.logobar {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;

}

.roundedimg {
    border-radius: 15px;
    margin: 20px;

}

img.logoheader {
    height: 75px;
    width: auto;
    margin: 0 0 0 10px
}

.nopad {
    padding: 0;
}

.nomarg {
    margin: 0;
}

/* media queries */

@media all and (max-width: 320px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .profile__portrait {
        display: block;
        margin: -40px 15px 0;
        float: center;
    }
}

@media all and (max-width: 439px) {
    .page-header__item:last-child {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 0 1 auto;
        text-align: center;
    }
}

@media all and (min-width: 320px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }

    .credit {
        display: none;
    }

    .logo {
        width: 200px;
        height: 70px;
        padding: 5px;
    }

    .logo {
        display: block;
        margin: 0 auto;
        clear: both;
    }
}
